  {% extends 'search/base_generic.html'%}

  {% block content %}
    <h1>Curation of Articles</h1>
    <h4 id="current_user"></h4>
    <ul id="article_xml_attributes">
      <li>
        <span>ID: </span>
        <div id="id"></div>
      </li>
      <li>
        <span>Title: </span>
        <div id="title"></div>
      </li>

      <li>
        <span>Authors: </span>
        <div id="authors"></div>
      </li>

      <li>
        <span>ArXiv ID: </span>
        <div id="arxiv_id"></div>
      </li>

      <li>
        <span>Abstract: </span>
        <div id="abstract"></div>
      </li>
    </ul>

    <form method="POST" action="http://localhost:8000/search/curate_arxiv_article/">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Curate Article"></input>
    </form>
    <form method="POST" action="http://localhost:8000/search/skip_arxiv_xml_curation/">
      {% csrf_token %}
      <input type="hidden" name="skip_id" id="skip_id">
      <input type="submit" value="Skip Article"></input>
    </form>

  {% endblock %}

  {% block execute_script %}
    <script>
      $(document).ready(function(){
        $form = $('form')[0]
        grabArticle();
      });
    </script>
  {% endblock %}
